user  www-data;
worker_processes  1;
worker_rlimit_nofile 65536;
load_module modules/ngx_http_brotli_filter_module.so;
load_module modules/ngx_http_brotli_static_module.so;
load_module modules/ngx_http_zstd_filter_module.so;
load_module modules/ngx_http_zstd_static_module.so;

error_log  /var/log/angie/error.log notice;
pid        /run/angie.pid;

events {
    worker_connections  256;
}


http {
    include       /etc/angie/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    log_format extended '$remote_addr - $remote_user [$time_local] "$request" '
                        '$status $body_bytes_sent "$http_referer" rt="$request_time" '
                        '"$http_user_agent" "$http_x_forwarded_for" '
                        'h="$host" sn="$server_name" ru="$request_uri" u="$uri" '
                        'ucs="$upstream_cache_status" ua="$upstream_addr" us="$upstream_status" '
                        'uct="$upstream_connect_time" urt="$upstream_response_time"';

    access_log  /var/log/angie/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    #gzip  on;

    include /etc/angie/http.d/*.conf;
    brotli_static		on;
    brotli				on;
    brotli_comp_level	5;
    brotli_types		text/plain text/css text/xml application/javascript application/json image/x-icon image/svg+xml;

    #zstd 			on;
    #zstd_min_length 	256;
    #zstd_comp_level 	5;
    #zstd_static 		on;
    #zstd_types			text/plain text/css text/xml application/javascript application/json image/x-icon image/svg+xml;

    map $uri $myheader {
        ~*\.css$    "text/css";
        ~*\.js$     "application/javascript";
        ~*\.jpg$    "image/jpeg";
        ~*\.jpeg$   "image/jpeg";
        ~*\.png$    "image/png";
        ~*\.gif$    "image/gif";
        default     "text/html";
    }
}

#stream {
#    include /etc/angie/stream.d/*.conf;
#}
