version: '3'

services:
  angie:
    image: docker.angie.software/angie:1.8.1
    container_name: angie
    volumes:
      - /var/www:/usr/share/angie/html:ro
      - /etc/angie/angie.conf:/etc/angie/angie.conf:ro
      - /var/lib/angie/acme:/var/lib/angie/acme
    ports:
      - "80:80"
      - "443:443"
    networks:
      - backend_network
    restart: unless-stopped

networks:
  backend_network:
    external: true