{#- Общая часть HTTPS-сервера: listen, HTTP/2 и HTTP/3, ACME, заголовки, логи. -#}
{% macro tls_server(vhost) -%}
    listen 443 ssl;
    listen 443 quic;
    http2 on;
    http3 on;
    quic_gso on;
    quic_retry on;

    server_name {{ vhost.server_name }};
    status_zone {{ vhost.name }};

    access_log /var/log/angie/{{ vhost.name }}.access.log extended;
    error_log  /var/log/angie/{{ vhost.name }}.error.log;

{% set client = vhost.name ~ angie_acme_suffix %}
    acme {{ client }}_rsa;
    acme {{ client }}_ecdsa;
    ssl_certificate     $acme_cert_{{ client }}_rsa;
    ssl_certificate_key $acme_cert_key_{{ client }}_rsa;
    ssl_certificate     $acme_cert_{{ client }}_ecdsa;
    ssl_certificate_key $acme_cert_key_{{ client }}_ecdsa;

    include /etc/angie/snippets/headers.conf;
{%- endmacro %}

{#- Basic auth по /etc/angie/htpasswd -#}
{% macro basic_auth() -%}
        auth_basic           "Restricted";
        auth_basic_user_file /etc/angie/htpasswd;
{%- endmacro %}
